.container
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @comment, url: article_task_comments_path(@article, @task), local: true) do |f|
    %div
      = f.label :content, 'Content'
    %div
      = f.text_area :content
    =f.submit 'Submit', class: 'btn-primary'