.container
  = render 'tabs'
  - @articles.each do |article|
    = render 'article', article: article
  = link_to new_article_path do
    .float_btn
      %i.fa.fa-plus
    .card
      .card_content.add_card
        %p + Add new board
