.article
  %h1.article_title= @article.title
  .article_detail
    = image_tag 'default-avatar.png'
    %div
      %p cohki0305
      %p= @article.display_created_at
  .article_content
    = @article.content
